footer.page-footer
  p 
    a(href="http://github.com/adambrault/villager.io") Open source
    | . Created by 
    a(href="http://adambrault.com") Adam Brault
    |  and improved by people like you. Sponsored by 
    a(href="http://andyet.com") &yet
    | .