footer.page-footer.conte
  blockquote.blockquote-centered
      p “Cities have the capability of providing something for everybody,<br/>
        | only because, and only when, they are created by everybody.”</br>
        | — Jane Jacobs
  p This is 
    a(href="http://github.com/adambrault/villager.io") open source