header(class="mod" + moderator)
  nav.top-nav.top-nav-light.cf
    input#menu-toggle.menu-toggle(type="checkbox")
    label(for="menu-toggle") Menu
    ul.list-unstyled.list-inline.cf
      li: a(href="/") Home
      li: a(href="/lists") Lists
      li: a(href="/people") People
      li: a(href="/places") Places
      li: a(href="/groups") Groups
      //- li: a(href="/events") Events
      if moderator
        li: a(href="/pending") Pending
      if userid
        li.has-dropdown.header-profile
          a(href="/profile/edit/" + userid)= fullName
            //- TODO: figure out why avatar doesn't work here
            //- img.avatar.avatar-small(src= avatar)
          .icon-arrow-down
          ul.list-unstyled.dropdown.cf
            li: a(href="/profile/edit/" + userid) Edit profile
            li: a(href="/tinker") Tinker
            li: a(href="/logout") Log out
      if !userid
        li.header-login: a(href="/auth/twitter") Log in