header(class="mod" + moderator)
  span.home
    a(href="/") triciti.es
  nav 
    a(href="/people") People
    a(href="/places") Places
    a(href="/groups") Groups
    //- a(href="/events") Events
    //- a(href="/projects") Projects
    if moderator
      a(href="/pending") Pending
    if user
      a(href="/logout") Log out
      a(href="/profile/edit/" + userid) Edit profile
    if !user
      a(href="/login") Log in
  if user
    span.user= user.displayName
      img(src= user._json.profile_image_url)