extends ../layout

block body
  body
    include ../in/header

    form(method="POST", action="/lists/update/" + list.key)
      fieldset
        legend Edit #{list.what} list: #{list.name}
        .form-element
          label(for="name") Name
          input.form-input(name="name", value= list.name)
        .form-element
          label(for="description") Description
          input.form-input(name="description", value= list.description)
        .form-element
          label(for="image") Image (optional)
          input.form-input(name="image", value= list.image)
        input(type="hidden", name="what", value=list.what)
        button.button.button-primary(type="submit") Update list

    include ../in/footer