extends ../layout

block body
  body
    include ../in/header

    .title-bar
      h1 Lists
      .action-menu
        if moderator
          a.button.button-primary.add-item(href="/lists/add") Add a list
    ul.lists
      if lists[0]
        for list in lists[0]
          li
            h3= list.name
            a(href="/lists/delete/" + list.key) Delete this list
            br
            a(href="/lists/edit/" + list.slug) Edit this list

    include ../in/footer