@import 'foundation'

body
  font: 18px 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif
  color: rgb(50,50,50)
  padding: 80px 0 0 0
  text-align: center

h1
  +grid-column($columns:5, $center:true)
  font-size: 32px
  text-align: center
  font-weight: 300
  border-bottom: 1px solid #eee
  padding: 10px 0
  margin: 0 auto 20px auto
  display: block

h2
  font-size: 32px
  font-weight: 100

h3, h4, h5, h6
  font-size: 20px
  font-weight: normal

h3, h4, h5, h6
  font-weight: normal

p
  font-size: 14px
  margin-bottom: 1em
  line-height: 130%

  a
    text-decoration: underline

h2
  margin-top: 20px

header
  background-color: #eee
  width: 100%
  position: absolute
  top: 0
  left: 0
  right: 0
  height: 40px
  text-align: center
  border-bottom: 1px solid #ddd

  a:link, a:visited
    display: inline-block
    padding: 10px

  .user
    position: absolute
    top: 3px
    right: 10px
    padding-top: 5px

  img
    width: 24px
    height: 24px
    border-radius: 100px
    margin-top: 0px
    margin-left: 10px

  &.modtrue
    background-color: #C9FFE4

  &.modfalse
    background-color: #F8FFC9

.person, .place, .group
  text-align: center
  width: 500px 
  margin: 0 auto
  border: 1px solid #eee
  padding: 40px
  box-shadow: rgba(0,0,0,.03) 0 0 10px
  position: relative

a.delete
  color: #aaa
  position: absolute
  right: 0
  bottom: -30px
  font-size: 13px

ul
  text-align: center

  li
    vertical-align: top
    width: 120px
    list-style: none
    display: inline-block
    margin-bottom: 20px

  h3
    font-size: 13px
    font-weight: 500

  .moderate
    font-size: 10px

    a
      display: block

.grav
  border-radius: 100px
  display: block
  width: 80px
  height: 80px
  margin: 0 auto
  border: 1px solid #eee

a.andOne
  border: 1px solid #eee
  width: 80px
  height: 80px
  border-radius: 100px
  display: inline-block
  background-color: #fefefe
  font-size: 80px
  line-height: 65px
  font-weight: 1000
  text-decoration: none
  text-align: center
  &:hover
    color: #fff
    background-color: #2ba6cb

a.andMe
  border: 1px solid #eee
  width: 80px
  height: 80px
  border-radius: 100px
  display: inline-block
  background-color: #fefefe
  font-size: 20px
  line-height: 75px
  font-weight: 1000
  text-decoration: none
  text-align: center
  &:hover
    color: #fff
    background-color: #2ba6cb

p.empty
  margin-top: 60px

form
  +grid-column($columns:5, $center:true)
  background-color: #fefefe
  border: 1px solid #eee
  padding: 20px

textarea
  height: 80px

.pageTitle, .pageContent, .paginationWrap
  +grid-column($columns:6, $offset:3)


@media (max-width: 768px)

