extends ../layout

block body
  body
    include ../in/header

    .title-bar
      h1 No people yet
      .action-menu
        if moderator
          a.button.button-primary.add-item(href="/people/add") Add someone
        if !userid
          a.button.button-primary.add-item(href="/auth/twitter") Add me

    include ../in/footer