extends ../layout

block body
  body
    include ../in/header

    h1 Pending
    ul.item-list.list-unstyled
      for person in people
        li(class= person.approved)
          a(href= '/people/' + person.slug)
            img.avatar.avatar-large.avatar-rounded(src= person.avatar)
          h5= person.fullName
          //- p
          //-   if !person.approved
          //-     | Pending
          //-   if person.approved
          //-     | √
          //-   if person.moderator
          //-     | M
          //-   if person.admin
          //-     | A
          p.moderate
            a(href="/people/approve/" + person.key) Approve
            a(href="/people/moderator/" + person.key) Moderator
            a(href="/people/delete/" + person.key + '/' + person.slug) Delete
      for place in places
        li
          a(href= '/places/' + place.slug)
            img.avatar.avatar-large.avatar-rounded(src= place.image)
          h5= place.name
          p.moderate
            a(href="/places/approve/" + place.key) Approve
            a(href="/places/delete/" + place.key + '/' + place.slug) Delete
      for group in groups
        li
          a(href= '/groups/' + group.slug)
            img.avatar.avatar-large.avatar-rounded(src= group.image)
          h5= group.name
          p.moderate
            a(href="/groups/approve/" + group.key) Approve
            a(href="/groups/delete/" + group.key + '/' + group.slug) Delete

    include ../in/footer