extends ../layout

block body
  body
    include ../in/header

    .title-bar
      h1 Groups
      .action-menu
        if moderator
          a.button.button-primary.add-item(href="/groups/add") Add a group

    ul.item-list.list-unstyled
      for group in groups
        li
          a(href= '/groups/' + group.slug)
            img.avatar.avatar-large.avatar-rounded(src= group.image)
            h5= group.name
      for item in mine
        li
          a(href= '/groups/' + item.slug)
            img.avatar.avatar-large.avatar-rounded(src= item.image)
            h5= item.name

    include ../in/footer