extends ../layout

block body
  body
    include ../in/header

    .title-bar
      h1 People
      .action-menu
        if moderator
          a.button.button-primary.add-item(href="/people/add") Add someone
        if !userid
          a.button.button-primary.add-item(href="/auth/twitter") Add me

    ul.item-list.list-unstyled
      if people
        for person in people
          li(class= person.approved)
            a(href= '/people/' + person.slug)
              img.avatar.avatar-large.avatar-rounded(src= person.avatar)
              h5= person.fullName
              //- if moderator
              //-   p
              //-     if !person.approved
              //-       | Pending
              //-     if person.approved
              //-       | √
              //-     if person.moderator
              //-       | M
              //-     if person.admin
              //-       | A
        if me
          li(class="pending")
            a(href="/people/" + me.slug)
              img.avatar.avatar-large.avatar-rounded(src= me.avatar)
              h5= me.fullName
              p
                if !me.approved
                  | Pending

    include ../in/footer