extends layout

block body
  body
    include in/header

    h1 Add someone
    form#addPerson(method="POST", action="/new/person", )
      input#inputName(name="name", type="text", placeholder="Firsty Lasterton")
      input#inputEmail(name="email", type="text", placeholder="you@reaweso.me")
      input#inputTwitter(name="twitter", type="text", placeholder="Twitter username")
      textarea#inputBio(name="bio", type="text", maxlength="160", placeholder="Introduce yourself (160 characters max)")
      button(name="submit", type="submit") Add yourself

    include in/footer