extends layout

block body
  body
    include in/header

    h1 Add someone
    form#addPerson(method="POST", action="/people/add", )
      input#inputName(name="fullName", type="text", placeholder="Name")
      input#inputEmail(name="email", type="text", placeholder="Email address")
      input#inputTwitter(name="twitter", type="text", placeholder="Twitter username")
      input#inputWebsite(name="website", type="text", placeholder="Website")
      input#inputCompany(name="company", type="text", placeholder="Company")
      textarea#inputAbout(name="about", type="text", maxlength="160", placeholder="Introduce yourself (160 characters max)")
      label(for="interests") What are you interested in?
      ul.pickInterests
        each interest in interests
          li
            input#inputInterests(name="interests[]", type="checkbox", value=interest.key)
            | #{interest.name}
      button(name="submit", type="submit") Add yourself

    include in/footer