extends layout

block body
  body
    include in/header
    div.group
      a(href= group.website)
        img.grav(src= group.image)
        h2= group.name
      p= group.about
      p= group.createdBy
      if moderator
        a.delete(href= '/groups/delete/' + group.key) Delete this group

    include in/footer
