extends layout

block body
  body
    include in/header

    h1 Welcome

    if user
      ul.history
        for i in log
          li(class='edit' + i.editType)
            a(href= '/people/' + i.editorSlug)
              img(src= i.editorAvatar)
              | #{i.editorName}
            span #{i.editType} #{i.objType}
            a(href= '/people/' + i.editedSlug)
              span= i.editedName

    include in/footer