doctype html
head
  link(rel="stylesheet", href="/css/main.css")
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width,initial-scale=1.0")

body
  .container
    block body

script(src="/js/bundle.js")