extends layout

block body
  body
    include in/header

    h1 People
    ul.people
      for person in people
        li
          a(href= '/people/' + person.slug)
            img.grav(src= person.gravatar)
            h3= person.fullName

      li
        a.andOne(href="/people/add") +

    include in/footer