extends layout

block body
  body
    include in/header

    h1 Groups
    ul.groups
      for group in groups
        li
          a(href= '/groups/' + group.slug)
            img.grav(src= group.image)
            h3= group.name
      for item in mine
        li
          a(href= '/groups/' + item.slug)
            img.grav(src= item.image)
            h3= item.name
      li
        a.andOne(href="/groups/add") +

    include in/footer