extends layout

block body
  body
    include in/header

    h1 People
    ul.people
      for person in people
        li(class= person.approved)
          a(href= '/people/' + person.slug)
            img.grav(src= person.avatar)
            h3= person.fullName
            p
              if !person.approved
                | Pending
              if person.approved
                | √  
              if person.moderator
                | M 
              if person.admin 
                | A

      if (user)
        li
          a.andOne(href="/people/add") +
      else
        li
          a(href="/auth/twitter") 
            button Add yourself

    include in/footer