extends layout

block body
  body
    include in/header

    h1 It's so lonely here.
    p Maybe you could 
      a(href="/people/add") add someone
      |  to keep it warm.

    p.empty
      if moderator
        a.andOne(href="/people/add") +
      else
        a(href="/auth/twitter") 
            button Add yourself

    include in/footer