extends layout

block body
  body
    include in/header

    h1 No people found

    p.empty
      if moderator
        a.andOne(href="/people/add") +
      else
        a(href="/auth/twitter") 
            button Add yourself

    include in/footer