extends layout

block body
  body
    include in/header

    h1 It's so empty, I feel lost.
    p Maybe you could 
      a(href="/places/add") add a place
      |  to give me a sense of corporeality.
    
    include in/footer