extends layout

block body
  body
    include in/header
    div.person
      img.grav(src= gravatar)
      h2= name
       h3 
        a(href= 'http://twitter.com/' + twitter) @#{twitter}
      p= bio
      a.delete(href= '/people/delete/' + slug) Delete this person

    include in/footer
