extends layout

block body
  body
    include in/header
    div.person
      img.grav(src= person.avatar)
      h2= person.name
       h3 
        a(href= 'http://twitter.com/' + person.twitter) @#{twitter}
      p= person.bio
      if moderator
        a.delete(href= '/people/delete/' + person.key) Delete this person

    include in/footer
