extends layout

block body
  body
    include in/header
    div.place
      a(href= place.website)
        img.grav(src= place.image)
        h2= place.name
      p= place.about
      p
        a(href= place.map)
          span= place.address + ' ' + place.city
      if thismod || moderator
        a.delete(href= '/places/delete/' + place.key + '/' + place.name) Delete this place

    include in/footer
