extends ../layout

block body
  body
    include ../in/header

    form(method="POST", action="/lists/add")
      fieldset
        legend Add new list
        .form-element
          label What's going on this list?
          label.input-radio(for="radio-groups") 
            input#radio-groups(name="list-type", type="radio", checked="checked", value='places')
            |  Places
          label.input-radio(for="radio-places") 
            input#radio-places(name="list-type", type="radio", value='places')    
            |  Groups
        .form-element
          label(for="name") Name
          input.form-input(name="name")
        .form-element
          label(for="description") Description
          input.form-input(name="description")
        button.button.button-primary(type="submit") Add list

    include ../in/footer