extends ../layout

block body
  body
    include ../in/header
    include ../in/itemHeader

    form(method="POST", action="/lists/update/" + item.key)
      fieldset
        legend Edit #{item.type} item: #{item.type}
        .form-element
          label(for="name") Name
          input.form-input(name="name", value= item.name)
        .form-element
          label(for="description") Description
          input.form-input(name="description", value= item.description)
        input(type="hidden", name="type", value=item.type)
        button.button.button-primary(type="submit") Update list

    include ../in/footer