extends ../layout

block body
  body
    include ../in/header

    .title-bar
      h1 Groups With Upcoming Events
      .action-menu
        if moderator
          a.button.button-primary.add-item(href="/" + itemType + "s/add") Add a #{itemType}

    ul.item-list.list-unstyled
        for group in groups
          li
            a(group.url)
              h5= group.name
            h5 Events: 
            ul
              for event in group.events
                li
                  a(href= event.url)
                    h5= event.name
            
    include ../in/footer
