extends ../layout

block body
  body
    include ../in/header

    .title-bar
      h1 No #{itemType}s yet
      .action-menu
        if moderator
          a.button.button-primary.add-item(href="/" + itemType + "s/add") Add a #{itemType}

    include ../in/footer