extends ../layout

block body
  body
    include ../in/header

    .title-bar
      h1 No #{itemPlural} yet
      .action-menu
        if slug
          a.button.button-primary.add-item(href="/" + itemPlural + "/add") Add #{itemType}

    include ../in/footer