extends ../layout

block body
  body
    include ../in/header

    if myLists.length > 0

      form(method="POST", action="/lists/update/" + item.key)
        fieldset
          legend Add #{item.name} item to a list
          .form-element
            select.form-input(name="list")
              option(value="") -- Select a list --
                for list in myLists
                  option(value=list.key) #{list.name}
          button.button.button-primary(type="submit") Add to list
    else 
      h1 No lists yet
      a.button.button-primary(href="/lists/add") Add a list

    include ../in/footer