extends ../layout

block body
  body
    include ../in/header

    h1 Places
    ul.places
      for place in places
        li
          a(href= '/places/' + place.slug)
            img.grav(src= place.image)
            h3= place.name
      li
        a.andOne(href="/places/add") +

    include ../in/footer