extends ../layout

block body
  body
    include ../in/header
    
    .title-bar
      h1 Places
      .action-menu
        if moderator
          a.button.button-primary.add-item(href="/places/add") Add a place

    ul.item-list.list-unstyled
      for place in places
        li
          a(href= '/places/' + place.slug)
            img.avatar.avatar-large.avatar-rounded(src= place.image)
            h5= place.name

    include ../in/footer