extends ../layout

block body
  body
    include ../in/header

    .title-bar
      h1 No places yet
      .action-menu
        if moderator
          a.button.button-primary.add-item(href="/places/add") Add a place

    include ../in/footer